.collapsor { overflow: hidden; }

#wait {
    background: white url(img/loading.indicator.bee.gif) no-repeat;
    width: 30px; height: 30px; z-index: 42 /* hehe */;
    border: 1px solid #aaaaaa;
    position: fixed; top: 12px; right: 10px;
    padding: 0; margin: 0;
    display: block;
}

#wait-detail {
    background: white no-repeat;
    max-width: 150px; z-index: 42 /* hehe */;
    border: 1px solid #aaaaaa;
    position: fixed; top: 45px; right: 10px;
    padding: 2px; margin: 0;
    font-size: 9px;
    display: block;
}

.todo-item .extra-data div { display: inline }
.generically-hidden        { display: none !important; }

.tiny-button {
    display: inline;
    border: 1px solid #999999;
    margin: 0;
    padding: 2px 10px;
    background: #cccccc;
    -webkit-border-radius: 5px;
}

#priority-lower-than  .label, #priority-higher-than .label {
    /* the text of the label, .title styles the selection */
    max-width: 250px;
}

.task-long .accepted-desc.not-accepted { color: red; }
.task-long .accepted-desc.accepted     { display: none; }

.task-delta div, .task-delta p, .task-delta dt, .task-delta dd
    { font-weight: normal; font-size: small; margin: 0; padding: 2px 2px; }

.task-delta div.comment    { border-left: 2px solid #99bb99; padding-left: 3px; }
.task-delta dt             { border-left: 2px solid #aaaaff; padding-left: 3px; }
.task-delta dd             { border-left: 2px solid #bbbbdd; padding-left: 3px; }
.task-delta div.attachment { border-left: 2px solid #ffaaaa; padding-left: 3px; }

.task-long div { font-size: small; font-weight: normal }

.task-long div.task-parties { margin-bottom: 1em; }
.task-long div.task-parties em { color: cornflowerblue; }

.task-long div.dep li { font-style: italic; color: grey; }
.task-long div.dep ul { padding-left: 2em; margin-top: 0.25em; margin-bottom: 0.25em; }
.task-long div.dep.bfc0, .task-long div.dep.atc0 { display: none; }

.task-long .palm-row {
    background-image: none;
    background: none;
}

.cb-under {
    border: 1px solid #dddddd;
    padding: 1px; margin: 1px;
    margin-left: 0.5em; margin-right: 0.5em;
    font-size: 12px;
}

.task-long .palm-row.selected {
    border: none;
    background: none;
    border-width: 0;
    -webkit-border-image: none;
    background: #33aa33;
    color: white;
}

.task-long .palm-row.selected li {
    color: white;
}

.task-short .complete1 .summary { text-decoration: line-through; color: black; }
.task-short            .summary { color: black; }
.task-short .complete1 .summary { font-weight: normal; color: #777777; }

.task-short .complete7 .summary { font-weight: normal; color: green; }
.task-short .complete6 .summary { text-decoration: line-through; font-weight: normal; color: green; }

.task-short.accepted     .extra-data .task-waiting { display: none; }
.task-short.not-accepted .extra-data .task-waiting { font-size: 0.75; color: #ca9563; }

.task-id {
    font-family: monospace;
    font-weight: bold;
    color: blue;
}

.naked-list {
    background: white;
}

.todo-item .extra-data {
    font-size: 0.7em;
    font-weight: normal;
}

.todo-item .extra-data .due           { color: #7777bb; }
.todo-item .extra-data .inner-overdue { color: red }
.todo-item .extra-data .not-due       { display: none; }
.todo-item .extra-data .repeat-once   { display: none; border: 1px solid red; }

.todo-item .extra-data .due.complete1 .inner-overdue { color: #7777bb; }

.todo-item .extra-data .tags {
    font-style: italic;
    color: #339955;
}

.todo-item .extra-data .prio    { float: left;  margin: 0; padding: 0; margin-right: 5px; height: 16px; width: 16px; }
.todo-item .extra-data .prio.p5 { background-image: url(img/highest.png); }
.todo-item .extra-data .prio.p4 { background-image: url(img/high.png);    }
.todo-item .extra-data .prio.p3 { background-image: url(img/normal.png);  }
.todo-item .extra-data .prio.p2 { background-image: url(img/low.png);     }
.todo-item .extra-data .prio.p1 { background-image: url(img/lowest.png);  }

.palm-menu-icon.edit { background-image: url(img/menu-icon-edit.png); }

.task-description { font-weight: normal; font-size: 0.75em; }
.task-comment div { font-weight: normal; font-size: 0.75em; }

.task-comment .no-subject { display: none }
.task-comment .no-sender  { display: none }
.task-comment .no-date    { display: none }

.palm-page-header .icon.hmct {
	background-image: url(header-icon.png);
}

.palm-page-header .title {
	/*min-width: 160px !important;*/
    font-size: 16px;
}

#current-search {
    font-size: 8px;
    overflow: hidden;
}

.palm-row .title {
    font-size: 16px;
    font-weight: bold;
}

.explanation.topsplain {
    margin-left: 1em; margin-right: 1em;
    color: black;
}

.explanation {
    color: gray;
    font-size: 13px;
    font-weight: lighter;
}

.explanation .url {
    margin: 0;
    text-align: center;
    margin-bottom: 0.5em;
}

.explanation p {
    padding: 0; margin: 0;
    margin-bottom: 0.5em;
}

.extra {
    color: gray;
    font-size: 10px;
    font-weight: lighter;
}

.rightInfo {
    float: right;
    margin: 0.1em;
    margin-right: 0;
    color: gray;
    font-size: 10px;
    font-weight: lighter;
}

#desc1, #desc2 {
    font-size: 10pt;
    font-weight: lighter;
}

#desc1 { float: left; }
#desc2 { float: right; }

body.hiveminder {
    background: white;
}

.voltar-swipe-complete-button {
  /*-webkit-border-image: url(img/swipe-complete-button-down.png) 0 14 0 14 repeat repeat;*/
  -webkit-border-image: url(img/swipe-complete-button-up.png) 0 14 0 14 repeat repeat;
}

.voltar-swipe-complete-button.selected {
  -webkit-border-image: url(img/swipe-complete-button-down.png) 0 14 0 14 repeat repeat;
}
