.collapsor { overflow: hidden; }

#wait {
    background: white url(img/loading.indicator.bee.gif) no-repeat;
    width: 30px; height: 30px; z-index: 42 /* hehe */;
    border: 1px solid #cccccc;
    position: fixed; top: 0.5em; right: 0.5em;
    padding: 0; margin: 0;
    display: none;
}

.task-id {
    font-family: monospace;
    font-weight: bold;
    color: blue;
}

.naked-list {
    background: white;
}

.todo-item .extra-data {
    font-size: 0.7em;
    font-weight: normal;
}

.todo-item .extra-data .inner-overdue { color: red }
.todo-item .extra-data .not-due       { display: none; }

.todo-item .extra-data .inner-overdue { color: red }
.todo-item .extra-data .not-due       { display: none; }

.todo-item .extra-data .tags {
    font-style: italic;
    color: #339955;
}

.todo-item .extra-data .prio    { float: left;  margin: 0; padding: 0; margin-right: 5px; height: 16px; width: 16px; }
.todo-item .extra-data .prio.p5 { background-image: url(img/highest.png); }
.todo-item .extra-data .prio.p4 { background-image: url(img/high.png);    }
.todo-item .extra-data .prio.p3 { background-image: url(img/normal.png);  }
.todo-item .extra-data .prio.p2 { background-image: url(img/low.png);     }
.todo-item .extra-data .prio.p1 { background-image: url(img/lowest.png);  }

.task-description { font-weight: normal; font-size: 0.75em; }
.task-comment     { font-weight: normal; font-size: 0.75em; }

.palm-page-header .icon.hmct {
	background-image: url(header-icon.png);
}

.palm-page-header .title {
	/*min-width: 160px !important;*/
    font-size: 16px;
}

.palm-row .title {
    font-size: 16px;
    font-weight: bold;
}

.explanation.topsplain {
    margin-left: 1em; margin-right: 1em;
    color: black;
}

.explanation {
    color: gray;
    font-size: 13px;
    font-weight: lighter;
}

.explanation .url {
    margin: 0;
    text-align: center;
}

.explanation p {
    padding: 0; margin: 0;
    margin-bottom: 0.5em;
}

.extra {
    color: gray;
    font-size: 10px;
    font-weight: lighter;
}

.rightInfo {
    float: right;
    margin: 0.1em;
    margin-right: 0;
    color: gray;
    font-size: 10px;
    font-weight: lighter;
}

#desc1, #desc2 { 
    font-size: 10pt;
    font-weight: lighter;
}

#desc1 { float: left; }
#desc2 { float: right; }
