.collapsor { overflow: hidden; }

#wait {
    background: white url(img/loading.indicator.bee.gif) no-repeat;
    width: 30px; height: 30px; z-index: 42 /* hehe */;
    border: 1px solid #cccccc;
    position: fixed; top: 0.5em; right: 0.5em;
    padding: 0; margin: 0;
    display: none;
}

.generically-hidden { display: none; }

.task-delta div, .task-delta p, .task-delta dt, .task-delta dd
    { font-weight: normal; font-size: small; margin: 0; padding: 2px 2px; }

.task-delta div.comment    { border-left: 2px solid #99bb99; padding-left: 3px; }
.task-delta dt             { border-left: 2px solid #aaaaff; padding-left: 3px; }
.task-delta dd             { border-left: 2px solid #bbbbdd; padding-left: 3px; }
.task-delta div.attachment { border-left: 2px solid #ffaaaa; padding-left: 3px; }

.task-long div { font-size: small; font-weight: normal }

.task-long div.dep li { font-style: italic; color: grey; }
.task-long div.dep ul { padding-left: 2em; margin-top: 0.25em; margin-bottom: 0.25em; }
.task-long div.dep.bfc0, .task-long div.dep.atc0 { display: none; }

.task-long .palm-row {
    background-image: none;
    background: none;
}

.task-long .palm-row.selected {
    border: none;
    background: none;
    border-width: 0;
    -webkit-border-image: none;
    background: #33aa33;
    color: white;
}

.task-short .complete1          { text-decoration: line-through; color: black; }
.task-short .summary            { color: black; }
.task-short .complete1 .summary { font-weight: normal; color: #777777; }

.task-id {
    font-family: monospace;
    font-weight: bold;
    color: blue;
}

.naked-list {
    background: white;
}

.todo-item .extra-data {
    font-size: 0.7em;
    font-weight: normal;
}

.todo-item .extra-data .inner-overdue { color: red }
.todo-item .extra-data .not-due       { display: none; }

.todo-item .extra-data .inner-overdue { color: red }
.todo-item .extra-data .not-due       { display: none; }

.todo-item .extra-data .tags {
    font-style: italic;
    color: #339955;
}

.todo-item .extra-data .prio    { float: left;  margin: 0; padding: 0; margin-right: 5px; height: 16px; width: 16px; }
.todo-item .extra-data .prio.p5 { background-image: url(img/highest.png); }
.todo-item .extra-data .prio.p4 { background-image: url(img/high.png);    }
.todo-item .extra-data .prio.p3 { background-image: url(img/normal.png);  }
.todo-item .extra-data .prio.p2 { background-image: url(img/low.png);     }
.todo-item .extra-data .prio.p1 { background-image: url(img/lowest.png);  }

.task-description { font-weight: normal; font-size: 0.75em; }
.task-comment div { font-weight: normal; font-size: 0.75em; }

.task-comment .no-subject { display: none }
.task-comment .no-sender  { display: none }
.task-comment .no-date    { display: none }

.palm-page-header .icon.hmct {
	background-image: url(header-icon.png);
}

.palm-page-header .title {
	/*min-width: 160px !important;*/
    font-size: 16px;
}

#current-search {
    font-size: 8px;
    overflow: hidden;
}

.palm-row .title {
    font-size: 16px;
    font-weight: bold;
}

.explanation.topsplain {
    margin-left: 1em; margin-right: 1em;
    color: black;
}

.explanation {
    color: gray;
    font-size: 13px;
    font-weight: lighter;
}

.explanation .url {
    margin: 0;
    text-align: center;
}

.explanation p {
    padding: 0; margin: 0;
    margin-bottom: 0.5em;
}

.extra {
    color: gray;
    font-size: 10px;
    font-weight: lighter;
}

.rightInfo {
    float: right;
    margin: 0.1em;
    margin-right: 0;
    color: gray;
    font-size: 10px;
    font-weight: lighter;
}

#desc1, #desc2 { 
    font-size: 10pt;
    font-weight: lighter;
}

#desc1 { float: left; }
#desc2 { float: right; }
