<div class="title todo-item task-long">

    <div class="task-description #{desc_class}"><em>Description:</em> &nbsp; #{description}<br></div>
    <div class="task-requestor #{requestor_class}">Requested by: #{requestor}<br></div>
    <div class="task-hours #{hours_class}"><img src="img/clock.png"/> #{hours_txt}<br></div>
    <div class="dep but-first bfc#{but_first_count}">But First: #{-but_first_html}</div>
    <div class="dep and-then atc#{and_then_count}">And Then: #{-and_then_html}</div>

</div>
