<div class="title todo-item task-short">

    <div class="label task-id">#{record_locator}</div>

    <div class="complete#{complete}">
        <div class="summary">#{summary}</div>
    </div>

    <div class="extra-data">
        <div class="prio p#{priority}"></div>
        <div class="task-repeat repeat-#{repeat_period}"><img src="img/arrow_repeat_gray.png"/>#{repeat_every} #{repeat_period}</div>
        <div class="task-group #{group_class}"><img src="img/group.png"/> #{group_txt}</div>
        <div class="task-hours #{hours_class}"><img src="img/clock.png"/> #{hours_txt}</div>
        <span class="due #{due_class}">due: <span class="inner-#{due_class}">#{due}</span></span>
        <span class="tags">#{tags}</span>
    </div>

</div>
