<div class="palm-swipe-container">
	<div class="palm-row palm-swipe-delete" x-mojo-set-height=''>
		<div class="palm-row-wrapper" style="height:inherit;text-align:center;">
			<div class="palm-swipe-delete-shill" x-mojo-set-height=''></div>
			<div x-mojo-tap-highlight="momentary" x-mojo-list-delete-cmd="complete" class="palm-button palm-swipe-delete-button voltar-swipe-complete-button">
				<div class="palm-button-wrapper" x-mojo-loc="">
                    <span class="complete-text">Complete</span>
                    <span class="incomplete-text">Incomplete</span>
                </div>
			</div>
			<div x-mojo-tap-highlight="momentary" x-mojo-list-delete-cmd="undo" class="palm-button palm-swipe-undo-button">
				<div class="palm-button-wrapper" x-mojo-loc="">Cancel</div>
			</div>
		</div>
	</div>
</div>
