    <div class='palm-group generically-hidden' id='add-time-worked'>
        <div class="palm-group-title">add time worked</div>

        <div class="palm-list">

            <div class="palm-row single">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div x-mojo-element="TextField" id="time-worked"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class='palm-group'>
        <div class="palm-group-title">comment</div>

        <div class="palm-list">
            <div class="palm-row single">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div x-mojo-element="TextField" id="comment"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table width="100%"><tr>
    <td><div x-mojo-element="Button" id="send"></div></td>
    <td><div x-mojo-element="Button" id="cancel"></div></td>
    </tr></table>
