<div id="hmct-main" class="hmct-main">

    <div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
	        <div class="icon hmct"></div>
	        <div class="title">
				Hiveminder Cloud Tasks
	        </div>
	    </div>
    </div>

    <div class="topsplain explanation">
        <h3>About</h3>
        <p> Written by <a href="http://jettero.github.com/">Paul Miller</a>.</p>

        <p> This is version 0.5.0 of HMCT.</p>

        <p> <em>The 0.5.0 release (code name TXNQ) is a milestone release.  It is intended to be a <strong>view-only</strong>
            client.</em> </p>

        <p> This app is pretty much just a caching GUI for the
            <a href="http://hiveminder.com/">http;//hiveminder.com/</a>
            website.  They encourage building applications like this by
            offering a very nice self-discovering <a href="http://hiveminder.com/help/reference/API.html">ReSTful API</a>.
        </p>

        <p> Bugs and problems should be reported in the Github issue tracking system:

            <div class="url"><a href="http://github.com/jettero/hmct/issues">http://github.com/jettero/hmct/issues</a></div>
            </p>

        <p> The entire source for this app can be found there as well:

            <div class="url"><a href="http://github.com/jettero/hmct">http://github.com/jettero/hmct</a></div>
        </p>

        <h3>Copyright</h3>

        <p> This app is Copyright Paul Miller 2010. </p>

        <h3>License</h3>

        <p> This source for this app is licensed under the GNU GPLv3.
            <div class="url"><a href="http://www.opensource.org/licenses/gpl-3.0.html">http://www.opensource.org/licenses/gpl-3.0.html</a></div>
        </p>

        <h3>Thanks</h3>
        <p>There were additional contributions made by the following people:</p>
        <ul>
            <li><a href="http://hiveminder.com/about/team.html">The entire Best Practical (LLC) Hiveminder Team</a> — they built a great product and encourage 3rd party apps like this.</li>
        </ul>
    </div>

</div>
