<div id="hmct-main" class="hmct-main">

    <div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
	        <div class="icon hmct"></div>
	        <div class="title">
				HMCT ChangeLog
	        </div>
	    </div>
    </div>

    <div class="topsplain explanation">

        <h3>Help Me</h3>

        <p> I made this for fun, but I see quite a few people have downloaded
            it.  Please consider a donation if you find this app useful.  I
            desired for people to have it for free to promote the use of
            Hiveminder, but I could really use whatever cash you can send.

            <div class='url'><a href="https://donate.voltar.org/HMCT">https://donate.voltar.org/HMCT</a></div>
            </p>

        <h3>ChangeLog</h3>
        <div id="changelog" x-mojo-element="List"></div>

    </div>

</div>
