<div id="hmct-main" class="hmct-main">

    <div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
	        <div class="icon hmct"></div>
	        <div class="title">
				Hiveminder Cloud Tasks
	        </div>
	    </div>
    </div>

    <div class="topsplain explanation">

        <h3>View Only</h3>

        <p> This release is <em>view only</em>.  There is no interface or
            creating, removing, completing or editing tasks. </p>

        <h3>Account Required</h3>

        <p> You will need a Hiveminder account in order to use this app.  If you do not have one,
            click here to get one:
            <a href="http://hiveminder.com/splash/signup/">http://hiveminder.com/splash/signup/</a>.
            You won't regret signing up.  Hiveminder is probably the coolest
            way to track your tasks yet invented.ou won't regret signing up.
            Hiveminder is probably the coolest way to track your tasks yet
            invented.  You can interact with your tasks via email, IM, the
            command line, and IMAP.  Basically whatever seems handy.
            </p>

        <h3> BUGS </h3>
        <p> You will undoubtedly find bugs in this application.  Please do not
            report them to the Hiveminder staff unless you're quite certain
            they are hiveminder bugs and not actually a problem with this application.
            <p>
        
        <p> Bugs in this application should be reported via the github ticket system (only).
            <a href="http://github.com/jettero/hmct/issues">http://github.com/jettero/hmct/issues</a>
            </p>

    </div>

</div>
