<div id="hmct-main" class="hmct-main">
    <div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
	        <div class="icon hmct"></div>
	        <div class="title">
				New Hiveminder Cloud Task
	        </div>
	    </div>
    </div>

    <div class='palm-group'>
        <div class="palm-group-title">title</div>

        <div class="palm-list">
            <div class="palm-row single">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div x-mojo-element="TextField" id="title"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='palm-group'>
        <div class="palm-group-title">description</div>

        <div class="palm-list">
            <div class="palm-row single">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div x-mojo-element="TextField" id="description"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- seems comments are an UpdateTask field, not provided in CreateTask
    <div class='palm-group'>
        <div class="palm-group-title">comment</div>

        <div class="palm-list">
            <div class="palm-row single">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div x-mojo-element="TextField" id="comment"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->

    <table width="100%" class="margin: 0; padding: 0">
    <tr>
    <td> <div x-mojo-element="Button" id="go"></div> </td>
    <td> <div x-mojo-element="Button" id="no"></div> </td>
    </tr>
    </table>

    <!--
        [x] tags
        [x] notes
        [x] comments
        [ ] ((complete)) [edit only]
        [x] group
        [x] owner
        [x] hide until
        [x] due date
        [x] priority
        [x] hide forever
        [ ] schedule [repeat]
        [ ] every [repeat]
        [ ] stacks [repeat]
        [ ] heads up [repeat]
        [ ] ((accept)) [edit only, unaccepted only]
        [ ] time worked [pro]
        [ ] time left   [pro]
    -->

    <div class='palm-group'>
        <div class="palm-group-title">options</div>

        <div class="palm-list">

            <div class="palm-row first">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div class="label">tags <img src="img/tag.png"/> </div>
                        <div id="tags" x-mojo-element="TextField"></div>
                    </div>
                </div>
            </div>

            <div class="palm-row" id='group-row'>
                <div class="palm-row-wrapper">
                    <div class="label">
                        <img src="img/group.png"/>
                    </div>
                    <div id="group" x-mojo-element="ListSelector"></div>
                </div>
            </div>

            <div class="palm-row">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div class="label">owner</div>
                        <div id="owner" x-mojo-element="TextField"></div>
                    </div>
                </div>
            </div>

            <div class="palm-row">
                <div class="palm-row-wrapper">
                    <div class="label">
                        <img id='prio-img' src="img/normal.png">
                    </div>
                    <div id="priority" x-mojo-element="ListSelector"></div>
                </div>
            </div>

            <div class="palm-row">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div class="label">due date <img src="img/date.png"/> </div>
                        <div id="due-date" x-mojo-element="TextField"></div>
                    </div>
                </div>
            </div>

            <div class="palm-row">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div class="label">hide until <img src="img/date.png"/> </div>
                        <div id="hide-until" x-mojo-element="TextField"></div>
                    </div>
                </div>
            </div>

            <div class="palm-row last">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div class="label">hidden forever</div>
                        <div id="hidden-forever" x-mojo-element="CheckBox"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
