<div id="hmct-main" class="hmct-main">
    <div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
	        <div class="icon hmct"></div>
	        <div class="title">
				Hiveminder Cloud Tasks Prefs
	        </div>
	    </div>
    </div>

    <div id="e_example"><div class="palm-group">
        <div class="palm-group-title">Preferences</div>
        <div class="palm-list">
            <div class="palm-row single">
                <div class="palm-row-wrapper">
                    <div x-mojo-element="CheckBox" class="right" id="lock-orientation"></div>
                    <div class="title">Lock Orientation</div>
                </div>
            </div>
        </div>
    </div>

    <div id='account-required-note' style="margin-top: 1em;" class="topsplain explanation">
        <h3>Account Required</h3>

        <p> You will need a Hiveminder account in order to use this app.
            If you do not have one, click here to get one: </p>

            <div class="url">
                <a href="http://hiveminder.com/splash/signup/">http://hiveminder.com/splash/signup/</a>.
            </div>
    </div>

    <div id="hm_login_list" x-mojo-element="List"></div>

</div>
