<div id="hmct-main" class="hmct-main">

    <div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
	        <div class="icon hmct"></div>
	        <div class="title">
				Hiveminder Cloud Task Search
	        </div>
	    </div>
    </div>

    <div id="e_example"><div class="palm-group">
        <div class="palm-group-title">Basics</div>
        <div class="palm-list">

            <div class="palm-row first">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div id='query-c'>
                            <div class="label">
                                contains
                                <img src="img/white-basics.png"/>
                                <div class='tiny-button' id="query-t">!</div>
                            </div>
                            <div id="query" x-mojo-element="TextField"></div>
                        </div>

                        <div id='not-query-c' class='generically-hidden'>
                            <div class="label">
                                lacks
                                <img src="img/white-basics.png"/>
                                <div class='tiny-button' id="not-query-t">+</div>
                            </div>
                            <div id="not-query" x-mojo-element="TextField"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="palm-row">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div class="label">group <img src="img/group.png"/> </div>
                        <div id="group" x-mojo-element="TextField"></div>
                    </div>
                </div>
            </div>

            <div class="palm-row last" x-mojo-focus-highlight="true">
                <div class="palm-row-wrapper">
                    <div class="label"><img src="img/white-sort.png"/></div>
                    <div id="sort-by" x-mojo-element="ListSelector"></div>
                </div>
            </div>

        </div>
    </div>

    <div id="e_example"><div class="palm-group">
        <div class="palm-group-title">Status, tags, people, dates, etc </div>
        <div class="palm-list">

            <div class="palm-row first"> <div class="palm-row-wrapper"> <div class="title">

                <div class='label'>Task is</div>

                <table cellspacing="0" cellpadding="0" border="0">
                    <tr>
                    <td> <img src="img/green-check.png"> </td>
                    <td> <div id="done-cb"     x-mojo-element="CheckBox"></div> <div class='cb-under'><br clear="all">    done</div> </td>
                    <td> <div id="not-done-cb" x-mojo-element="CheckBox"></div> <div class='cb-under'><br clear="all">not done</div> </td>
                    </tr>
                    <tr>
                    <td> <img src="img/thumb-up.png"> </td>
                    <td> <div id="accepted-cb" x-mojo-element="CheckBox"></div> <div class='cb-under'><br clear="all">accepted</div> </td>
                    <td> <div id="declined-cb" x-mojo-element="CheckBox"></div> <div class='cb-under'><br clear="all">declined</div> </td>
                    <td> <div id="unaccept-cb" x-mojo-element="CheckBox"></div> <div class='cb-under'><br clear="all">unaccepted</div> </td>
                    </tr>
                    <tr>
                    <td></td>
                    <td> <div id="hiddenfe-cb"     x-mojo-element="CheckBox"></div> <div class='cb-under'><br clear="all">hidden forever</div> </td>
                    <td> <div id="not-hiddenfe-cb" x-mojo-element="CheckBox"></div> <div class='cb-under'><br clear="all">not hidden forever</div> </td>
                    </tr>
                </table>

            </div> </div> </div>

            <div class="palm-row">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div id='task-contains-c'>
                            <div class="label">
                                task contains
                                <div class='tiny-button' id="task-contains-t">!</div>
                            </div>
                            <div id="task-contains" x-mojo-element="TextField"></div>
                        </div>
                        <div id='task-lacks-c' class='generically-hidden'>
                            <div class="label">
                                task lacks
                                <div class='tiny-button' id="task-lacks-t">+</div>
                            </div>
                            <div id="task-lacks" x-mojo-element="TextField"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="palm-row">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div id='notes-contains-c'>
                            <div class="label">
                                notes contains
                                <div class='tiny-button' id="notes-contains-t">!</div>
                            </div>
                            <div id="notes-contains" x-mojo-element="TextField"></div>
                        </div>
                        <div id='notes-lacks-c' class='generically-hidden'>
                            <div class="label">
                                notes lacks
                                <div class='tiny-button' id="notes-lacks-t">+</div>
                            </div>
                            <div id="notes-lacks" x-mojo-element="TextField"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="palm-row">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div id='tag-contains-c'>
                            <div class="label">
                                tag contains
                                <img src="img/tag.png">
                                <div class='tiny-button' id="tag-contains-t">!</div>
                            </div>
                            <div id="tag-contains" x-mojo-element="TextField"></div>
                        </div>
                        <div id='tag-lacks-c' class='generically-hidden'>
                            <div class="label">
                                tag lacks
                                <img src="img/tag.png">
                                <div class='tiny-button' id="tag-lacks-t">+</div>
                            </div>
                            <div id="tag-lacks" x-mojo-element="TextField"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="palm-row">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div id='owner-is-c'>
                            <div class="label">
                                owner is
                                <div class='tiny-button' id="owner-is-t">!</div>
                            </div>
                            <div id="owner-is" x-mojo-element="TextField"></div>
                        </div>
                        <div id='owner-isnt-c' class='generically-hidden'>
                            <div class="label">
                                owner isn't
                                <div class='tiny-button' id="owner-isnt-t">+</div>
                            </div>
                            <div id="owner-isnt" x-mojo-element="TextField"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="palm-row">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div id='requestor-is-c'>
                            <div class="label">
                                requestor is
                                <div class='tiny-button' id="requestor-is-t">!</div>
                            </div>
                            <div id="requestor-is" x-mojo-element="TextField"></div>
                        </div>
                        <div id='requestor-isnt-c' class='generically-hidden'>
                            <div class="label">
                                requestor isn't
                                <div class='tiny-button' id="requestor-isnt-t">+</div>
                            </div>
                            <div id="requestor-isnt" x-mojo-element="TextField"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="palm-row">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div id='nextaction-by-c'>
                            <div class="label">
                                next action by
                                <div class='tiny-button' id="nextaction-by-t">!</div>
                            </div>
                            <div id="nextaction-by" x-mojo-element="TextField"></div>
                        </div>
                        <div id='nextaction-notby-c' class='generically-hidden'>
                            <div class="label">
                                next action not by
                                <div class='tiny-button' id="nextaction-notby-t">+</div>
                            </div>
                            <div id="nextaction-notby" x-mojo-element="TextField"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="palm-row">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div id='hidden-until-after-c'>
                            <div class="label">
                                hidden until after
                                <img src="img/date.png">
                                <div class='tiny-button' id="hidden-until-after-t">!</div>
                            </div>
                            <div id="hidden-until-after" x-mojo-element="TextField"></div>
                        </div>
                        <div id='hidden-until-before-c' class='generically-hidden'>
                            <div class="label">
                                hidden until before
                                <img src="img/date.png">
                                <div class='tiny-button' id="hidden-until-before-t">+</div>
                            </div>
                            <div id="hidden-until-before" x-mojo-element="TextField"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="palm-row">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div id='due-after-c'>
                            <div class="label">
                                due after
                                <img src="img/date.png">
                                <div class='tiny-button' id="due-after-t">!</div>
                            </div>
                            <div id="due-after" x-mojo-element="TextField"></div>
                        </div>
                        <div id='due-before-c' class='generically-hidden'>
                            <div class="label">
                                due before
                                <img src="img/date.png">
                                <div class='tiny-button' id="due-before-t">+</div>
                            </div>
                            <div id="due-before" x-mojo-element="TextField"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="palm-row">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div id='completed-after-c'>
                            <div class="label">
                                completed after
                                <img src="img/date.png">
                                <div class='tiny-button' id="completed-after-t">!</div>
                            </div>
                            <div id="completed-after" x-mojo-element="TextField"></div>
                        </div>
                        <div id='completed-before-c' class='generically-hidden'>
                            <div class="label">
                                completed before
                                <img src="img/date.png">
                                <div class='tiny-button' id="completed-before-t">+</div>
                            </div>
                            <div id="completed-before" x-mojo-element="TextField"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="palm-row" x-mojo-focus-highlight="true">
                <div class="palm-row-wrapper">
                    <div id='priority-higher-than-c'>
                        <div class="label">
                            <img id='prio-ht-img' src="img/dull-prio.png">
                            <div class='tiny-button' id="priority-higher-than-t">!</div>
                        </div>
                        <div id="priority-higher-than" x-mojo-element="ListSelector"></div>
                    </div>
                    <div id='priority-lower-than-c' class='generically-hidden'>
                        <div class="label">
                            <img id='prio-lt-img' src="img/dull-prio.png">
                            <div class='tiny-button' id="priority-lower-than-t">+</div>
                        </div>
                        <div id="priority-lower-than" x-mojo-element="ListSelector"></div>
                    </div>
                </div>
            </div>

            <div class="palm-row" id='last-row-before-pro'>
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div id='but-first-c'>
                            <div class="label">
                                but first
                                <div class='tiny-button' id="but-first-t">!</div>
                            </div>
                            <div id="but-first" x-mojo-element="TextField"></div>
                        </div>
                        <div id='and-then-c' class='generically-hidden'>
                            <div class="label">
                                and then
                                <div class='tiny-button' id="and-then-t">+</div>
                            </div>
                            <div id="and-then" x-mojo-element="TextField"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div id='pro'>

                <div class="palm-row">
                    <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                        <div class="title">
                            <div id='estimate-less-than-c'>
                                <div class="label">
                                    estimate less than
                                    <img src="img/clock.png">
                                    <div class='tiny-button' id="estimate-less-than-t">!</div>
                                </div>
                                <div id="estimate-less-than" x-mojo-element="TextField"></div>
                            </div>
                            <div id='estimate-greater-than-c' class='generically-hidden'>
                                <div class="label">
                                    estimate greater than
                                    <img src="img/clock.png">
                                    <div class='tiny-button' id="estimate-greater-than-t">+</div>
                                </div>
                                <div id="estimate-greater-than" x-mojo-element="TextField"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="palm-row">
                    <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                        <div class="title">
                            <div id='worked-less-than-c'>
                                <div class="label">
                                    worked less than
                                    <img src="img/clock.png">
                                    <div class='tiny-button' id="worked-less-than-t">!</div>
                                </div>
                                <div id="worked-less-than" x-mojo-element="TextField"></div>
                            </div>
                            <div id='worked-greater-than-c' class='generically-hidden'>
                                <div class="label">
                                    worked greater than
                                    <img src="img/clock.png">
                                    <div class='tiny-button' id="worked-greater-than-t">+</div>
                                </div>
                                <div id="worked-greater-than" x-mojo-element="TextField"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="palm-row last">
                    <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                        <div class="title">
                            <div id='left-less-than-c'>
                                <div class="label">
                                    left less than
                                    <img src="img/clock.png">
                                    <div class='tiny-button' id="left-less-than-t">!</div>
                                </div>
                                <div id="left-less-than" x-mojo-element="TextField"></div>
                            </div>
                            <div id='left-greater-than-c' class='generically-hidden'>
                                <div class="label">
                                    left greater than
                                    <img src="img/clock.png">
                                    <div class='tiny-button' id="left-greater-than-t">+</div>
                                </div>
                                <div id="left-greater-than" x-mojo-element="TextField"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
