<div id="hmct-main" class="hmct-main">

    <div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
	        <div class="icon hmct"></div>
	        <div class="title">
				Hiveminder Cloud Task Search
	        </div>
	    </div>
    </div>

    <div id="e_example"><div class="palm-group">
        <div class="palm-group-title">Basics</div>
        <div class="palm-list">

            <div class="palm-row first">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div id='query-c'>
                            <div class="label">
                                contains
                                <div x-mojo-touch-feedback='delayed' class='tiny-button' id="query-t">!</div>
                                <img src="img/white-basics.png"/>
                            </div>
                            <div id="query" x-mojo-element="TextField"></div>
                        </div>

                        <div id='not-query-c' class='generically-hidden'>
                            <div class="label">
                                lacks
                                <div x-mojo-touch-feedback='delayed' class='tiny-button' id="not-query-t">+</div>
                                <img src="img/white-basics.png"/>
                            </div>
                            <div id="not-query" x-mojo-element="TextField"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="palm-row">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div class="label">group <img src="img/group.png"/> </div>
                        <div id="group" x-mojo-element="TextField"></div>
                    </div>
                </div>
            </div>

            <div class="palm-row last" x-mojo-focus-highlight="true">
                <div class="palm-row-wrapper">
                    <div class="label"><img src="img/white-sort.png"/></div>
                    <div id="sort-by" x-mojo-element="ListSelector"></div>
                </div>
            </div>

        </div>
    </div>

    <div id="e_example"><div class="palm-group">
        <div class="palm-group-title">Status, tags, people, dates, etc </div>
        <div class="palm-list">

            <div class="palm-row first"> <div class="palm-row-wrapper"> <div class="title">

                <div class='label'>Task is</div>

                <table cellspacing="0" cellpadding="0" border="0">
                    <tr>
                    <td> <img src="img/green-check.png"> </td>
                    <td> <div id="done-cb"     x-mojo-element="CheckBox"></div> <div class='cb-under'><br clear="all">    done</div> </td>
                    <td> <div id="not-done-cb" x-mojo-element="CheckBox"></div> <div class='cb-under'><br clear="all">not done</div> </td>
                    </tr>
                    <tr>
                    <td> <img src="img/thumb-up.png"> </td>
                    <td> <div id="accepted-cb" x-mojo-element="CheckBox"></div> <div class='cb-under'><br clear="all">accepted</div> </td>
                    <td> <div id="declined-cb" x-mojo-element="CheckBox"></div> <div class='cb-under'><br clear="all">declined</div> </td>
                    <td> <div id="unaccept-cb" x-mojo-element="CheckBox"></div> <div class='cb-under'><br clear="all">unaccepted</div> </td>
                    </tr>
                    <tr>
                    <td></td>
                    <td> <div id="hiddenfe-cb"     x-mojo-element="CheckBox"></div> <div class='cb-under'><br clear="all">hidden forever</div> </td>
                    <td> <div id="not-hiddenfe-cb" x-mojo-element="CheckBox"></div> <div class='cb-under'><br clear="all">not hidden forever</div> </td>
                    </tr>
                </table>

            </div> </div> </div>

            <div class="palm-row">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div class="label">notes contains</div>
                        <div id="notes-contains" x-mojo-element="TextField"></div>
                    </div>
                </div>
            </div>

            <div class="palm-row">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div class="label">task contains</div>
                        <div id="task-contains" x-mojo-element="TextField"></div>
                    </div>
                </div>
            </div>

            <div class="palm-row">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div class="label">tag contains <img src="img/tag.png"> </div>
                        <div id="tag-contains" x-mojo-element="TextField"></div>
                    </div>
                </div>
            </div>

            <div class="palm-row">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div class="label">owner is</div>
                        <div id="owner-is" x-mojo-element="TextField"></div>
                    </div>
                </div>
            </div>

            <div class="palm-row">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div class="label">requestor is</div>
                        <div id="requestor-is" x-mojo-element="TextField"></div>
                    </div>
                </div>
            </div>

            <div class="palm-row">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div class="label">next action by</div>
                        <div id="next-action-by" x-mojo-element="TextField"></div>
                    </div>
                </div>
            </div>

            <div class="palm-row">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div class="label">hidden until after <img src="img/date.png"> </div>
                        <div id="hidden-until-after" x-mojo-element="TextField"></div>
                    </div>
                </div>
            </div>

            <div class="palm-row last">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div class="label">due after</div>
                        <div id="due-after" x-mojo-element="TextField"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
