<div id="hmct-main" class="hmct-main">
    <div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
	        <div class="icon hmct"></div>
	        <div class="title">
				Hiveminder Task
                <span id="id" style="margin-left: 1.5em" class="task-id"></span>
	        </div>
	    </div>
    </div>

    <div class="naked-list palm-list">

        <div id='task-sit' class="selection_target details collapsor-div">
          <table style="margin: 0 !important;" class="palm-divider collapsible" id="compress-task" x-mojo-touch-feedback="delayed">
              <tr>
                  <td class="left"></td>
                  <td class="label">
                    task
                  </td>
                  <td class="line"></td>
                  <td><div class="palm-arrow-closed arrow_button"></div></td>
                  <td class="right"></td>
                </tr>
          </table>
          <div id="compressible-task" class="collapsor">
            <div id="element-task" class="todo-row palm-row no-highlight">
                <div class="palm-row-wrapper todo-row-wrapper">
                    <div id='task-snl'></div>
                </div>
            </div>
          </div>
        </div>

        <div id='history-sit' class="selection_target details collapsor-div">
          <table style="margin: 0 !important;" class="palm-divider collapsible" id="compress-history" x-mojo-touch-feedback="delayed">
              <tr>
                  <td class="left"></td>
                  <td class="label">
                    history
                  </td>
                  <td class="line"></td>
                  <td><div class="palm-arrow-closed arrow_button"></div></td>
                  <td class="right"></td>
                </tr>
          </table>
          <div id="compressible-history" class="collapsor" >
            <div id="element-history" class="todo-row palm-row no-highlight">
                <div class="palm-row-wrapper todo-row-wrapper">
                    <div id="hm_task_history" x-mojo-element="List"></div>
                </div>
            </div>
          </div>
        </div>

    </div>

</div>
